#RewriteEngine On    # Turn on the rewriting engine
#RewriteRule    ^phptest/?$    phptest.php    [NC,L]    # Handle requests for "pet-care"
#Options +FollowSymLinks -MultiViews -indexes
#RewriteEngine On
#RewriteBase /
# remove .php; use THE_REQUEST to prevent infinite loops
#RewriteCond %{THE_REQUEST} ^GET\ (.*)\.php\ HTTP
#RewriteRule (.*)\.php$ $1 [L,R=301]
#RewriteEngine On   
#RewriteRule    ^cat$    /phptest.php    [NC,L]   
